# Main App
MAIN_API_CALLBACK_URL=
IMAGE_EXTRACTION_CALLBACK_URL=
MAIN_API_PUBLIC_PATH=../dokuprime-api-main/public # absolute path to main app's public directory

# Dify Dataset
DATASET_BASE_URL=
DATASET_ID=
DATASET_API_KEY=

# LLM: Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite # use multimodal model for text and description extraction
GEMINI_EMBEDDING_MODEL=gemini-embedding-exp-03-07

# # LLM: Ollama
# LLM_BASE_URL=
# LLM_MODEL=gemma3:12b # use multimodal model for text and description extraction
# LLM_API_KEY=ollama
# EMBEDDINGS_BASE_URL=
# EMBEDDINGS_MODEL=snowflake-arctic-embed2:latest
